<main class="container-quiz">
  <div class='container-questions'>
    <div class='container-question-content'>
      <h2><%= @question.content %></h2>
    </div>
    <div class='container-answers'>
      <div>
        <% if user_signed_in? %>
        <%= link_to "#{@question.option1}", answers_path(question: @question.id, type: "bad", content: @question.option1), data: { turbo_method: :post }, class: "btn button-tertiary answers" %>
        <% end %>
        <% unless user_signed_in? %>
        <%= link_to "#{@question.option1}", new_user_session_path, class: "btn button-tertiary answers"%>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
        <%= link_to "#{@question.option2}", answers_path(question: @question.id, type: "neutral", content: @question.option2), data: { turbo_method: :post }, class: "btn button-tertiary answers" %>
        <% end %>
        <% unless user_signed_in? %>
        <%= link_to "#{@question.option2}", new_user_session_path, class: "btn button-tertiary answers"%>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
        <%= link_to "#{@question.option3}", answers_path(question: @question.id, type: "good", content: @question.option3), data: { turbo_method: :post }, class: "btn button-tertiary answers" %>
        <% end %>
        <% unless user_signed_in? %>
        <%= link_to "#{@question.option3}", new_user_session_path, class: "btn button-tertiary answers"%>
        <% end %>
      </div>
      <div class="container-back-button">
        <% unless  @question.id == Question.first.id%>
          <%= link_to "â† Back", @question.back, class: "link-questions" %>
        <% end %>
      </div>
    </div>
    <!--
      <% unless  @question.id == Question.last.id %>
        <%= link_to "Next", @question.next %>
      <% else %>
        <%= link_to "Results", result_path %>
      <% end %>
    -->
      <div class ="container-progress-bar">
        <% if user_signed_in? %>
        <progress value="<%= (current_user.assessments.last.answers.count + 1 ) * 6.25 %>" max="100"></progress>
        <% end %>
      </div>
    </div>
  </div>
</main>
