<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="custom-navbar">
  <div class="container-fluid">
  <!--
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://pngset.com/images/cute-clouds-clipart-4-station-rainy-cute-clouds-stencil-snowman-nature-white-transparent-png-2551773.png" %>
    <% end %>
  -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "SOS", sos_path, class: "nav-link" %> <!-- needs to be changed -->
          </li>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Needs Assessment", start_path, class: "nav-link"  %>
          </li>
          <% if user_signed_in? %>
            <% if !current_user.assessments.nil? %>
            <li class="nav-item">
              <%= link_to "Last Assessment Results", "/dashboard", class: "nav-link"  %>
            </li>
            <% end %>
          <% end %>
          <li class="nav-item">
            <%= link_to "Therapists in my Area", "/therapists", class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Resources", "/resources", class: "nav-link"  %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
            <% end %>
          <% unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Login / Sign Up", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>

          <!--
          <li class="nav-item dropdown">
            <%= image_tag "https://images.unsplash.com/photo-1574158622682-e40e69881006?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
            </div>
          </li>
          -->
      </ul>
    </div>
  </div>
</div>
