<!-- Modal for Update therapist -->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Add a new therapist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-new-therapist-form">
          <div class="new-therapist-form">
            <%= simple_form_for(therapist) do |f| %>
              <div class="new-therapist-form-section">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
              </div>
              <%= f.input :available_places %>
              <%= f.input :waiting_time, label: "Waiting time in months" %> <%# we could add a toggle on available_places click here%>
              <%= f.input :therapy_type, :collection => %w[Behavioral Cognitive-behavioral Psychoanalysis Psychodynamic Humanistic Integrative] %>
              <div class="new-therapist-form-section">
                <%= f.input :individual_therapy %>
                <%= f.input :group_therapy %>
              </div>
              <%= f.input :address %>
              <%= f.input :telephone_number %>
              <%= f.submit "Update therapist", class: "button button-main" %>
            <% end %>
          </div>
        </div>
        <%# <div class="modal-footer"> %>
          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%# <button type="button" class="btn btn-primary">Save changes</button> %>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
