<main class="container-therapist-page">
  <div class="container-h1">
    <h1>Find therapists nearby</h1>
  </div>

  <div class="container-search">
    <%= simple_form_for therapists_path, method: :get, data: { turbo: false } do |f| %>
      <%= f.input :query,
        class: "form-control",
        placeholder: "Search for city",
        label: false %>
        <p>Filter by:</p>
      <%= f.input :availability, as: :boolean, :label => "Taking new patients" %>
      <%= submit_tag "Search"%>
    <% end %>
  </div>
  <br>
  <% unless @therapists == [] %>
    <div class="container-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
  <br>
<!-- Button trigger modal -->
<button type="button" class="button button-tertiary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a new therapist
</button>

  <% @therapists.each do |therapist| %>
    <div class="container-card-therapist">
        <h2><%= "#{therapist.first_name} #{therapist.last_name}" %></h2>
        <h3><%= therapist.address %></h3>
        <div class="container-availability">
          <% if therapist.available_places == true %>
            <p>✅ Has open spots</p>
          <% else %>
            <p>❌ No availability</p>
          <% end %>

          <% if therapist.waiting_time > 1 %>
            <p><%= "#{therapist.waiting_time} months wait" %></p>
          <% else %>
            <p><%= "#{therapist.waiting_time} month wait" %></p>
          <% end %>
        </div>

        <p><%= therapist.therapy_type %></p>
        <%= link_to "Update", edit_therapist_path(therapist) %>
    </div>
  <% end %>

  <% if @therapists == [] %>
    <h2>No therapists found. </h2>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_tmsiddoc.json"  background="transparent"  speed="1"  style="width: 50%; height: 50%;"  loop  autoplay></lottie-player>
    <h3>Be the first one to add a therapist in your city.</h3>
    <%= link_to "Add a therapist", new_therapist_path, class: "button-main" %>
  <% end %>

<!-- Modal for New therapist -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new therapist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", therapist: @therapist_for_new %>
        <%# <div class="modal-footer"> %>
          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%# <button type="button" class="btn btn-primary">Save changes</button> %>
        <%# </div> %>
      </div>
    </div>
  </div>
</main>
