<h2>Find therapists</h1>

<% unless @therapists = [] %>
  <%= simple_form_for therapists_path, method: :get, data: { turbo: false } do |f| %>
    <%= f.input :query,
      class: "form-control",
      placeholder: "Search for city",
      label: false %>
    <%= f.input :availability, as: :boolean, :label => "has available places" %>
    <%= submit_tag "Search"%>
  <% end %>
<% end %>

<% unless @therapists = [] %>
  <div style="width: 90%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

<% @therapists.each do |therapist| %>
  <div>
      <p><%= therapist.first_name %></p>
      <p>Places currently available?</p><%= therapist.available_places %>
      <%= therapist.address %>
  </div>
<% end %>

<% if @therapists = [] %>
  <h2>No therapists found :(</h2>
  <p>Have you called any therapists recently and want to share the information?</p>
  <%= link_to "Add a therapist", new_therapist_path %>
  <p>Want to try looking for something else?</p>
  <%= link_to "Search again", therapists_path %>
<% end %>

<%# potentential search form dropdown for therapy types: %>

<%# <%= form_for :therapy_type, method: :get do |f| %>
    <%# params[:query], %>
    <%# TherapyType.order(:name), %>
    <%# :id, :name, include_blank: true %>
<%# <% end

<%# <% form_tag therapists_path, method: :get do %>
  <%# <select name="therapist_type" id=""> %>
    <%# <option value="None">Type of therapy</option> %>
    <%# <option value="Behavioral">Behavioral</option> %>
    <%# <option value="Cognitive-behavioral">Cognitive behavioral</option> %>
    <%# <option value="Psychoanalysis">Psychoanalysis</option> %>
    <%# <option value="Psychodynamic">Psychodynamic</option> %>
    <%# <option value="Humanistic">Humanistic</option> %>
    <%# <option value="Integrative">Integrative</option> %>
  <%# </select> %>
<%# <% end %>
