<main class="container-therapist-page">
  <div class="container-h1">
    <h1>Find therapists nearby</h1>
  </div>

  <%= simple_form_for therapists_path, method: :get, data: { turbo: false } do |f| %>
    <div class="container-search">
      <%= f.input :query,
        class: "form-control",
        placeholder: "Search for city",
        label: false %>
        <%= f.submit "Search", class: "form-button" %>
    </div>
    <div class="container-filter">
      <p>Filter by:</p>
      <%= f.input :availability, as: :boolean, :label => "Taking new patients" %>
    </div>
  <% end %>

  <% unless @therapists == [] %>
    <div class="container-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <h2> <%= "Therapists near you:" %> </h2>
  <% end %>

  <% @therapists.each do |therapist| %>
    <div class="container-card-therapist">
      <h3><%= "#{therapist.first_name} #{therapist.last_name}" %></h3>
      <span><%= therapist.therapy_type %></span>
      <h4><%= therapist.address %></h4>
      <h4><%= link_to therapist.telephone_number, "tel:#{therapist.telephone_number}" %></h4>
      <div class="container-availability">
        <% if therapist.available_places == true %>
          <h5>✅ Has open spots</h5>
        <% else %>
          <h5>❌ No availability</h5>
        <% end %>
        <% if therapist.available_places == true %>
          <% if therapist.waiting_time > 1 %>
            <h5><%= "#{therapist.waiting_time} months wait" %></h5>
          <% else %>
            <h5><%= "#{therapist.waiting_time} month wait" %></h5>
          <% end %>
        <% end %>
      </div>
      <%= link_to edit_therapist_path(therapist) do %>
        <button class="form-button">Update</button>
      <% end %>
      <h6 id="last-updated"><%= "Last updated on #{therapist.updated_at.strftime("%m %B %Y")}" %></h6>
    </div>
  <% end %>

  <% if @therapists == [] %>
    <div class="container-no-therapists">
      <h2>No therapists found. </h2>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_tmsiddoc.json"  background="transparent"  speed="1"  style="width: 50%; height: 50%;"  loop  autoplay></lottie-player>
      <h3>Be the first one to add a therapist in your city.</h3>
      <!-- Button trigger modal -->
      <button type="button" class="button button-main" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add a new therapist
      </button>
    </div>
  <% else %>
    <div class="container-add-therapist">
      <h3>Know of a therapist accepting new patients?</h3>
      <button type="button" class="button button-main" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add a new therapist
      </button>
  </div>
  <% end %>

<!-- Modal for New therapist -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new therapist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", therapist: @therapist_for_new %>
      </div>
    </div>
  </div>
</main>
