<!DOCTYPE html>
<html>
  <head>
    <title>BlueBoo - Your boo when you're feeling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if request.path == "/" %>
    <% home = true %>
    <% else %>
    <% home = false %>
    <% end %>
    <div class="page-container <%= "page-container-home" if home == true %>">
      <%= render 'components/navbar' %>
      <%= yield %>
    </div>
  </body>

</html>
